@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather","serif","san-serif";
}

header{
    padding-left: 40px;
    display: flex;
    max-width: 100%;
    height: 4rem;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    
}
.navigation{
    display: flex;
    width: 40rem;
    justify-content: space-evenly;
    gap: 2;
}
.logo{
    font-size: 1.5rem;
    color: #3949AB;
    color: #5E35B1;
    color: darkblue;
}

.blue-box{
    background-image: url("/images/background2.jpg");
    max-width: 100%;
    height: 43rem;
    color: white;
    padding:14rem ;
    text-align: center;
}
.blue-box h1{
    font-size: 3rem;
    padding-bottom: 1rem;
}
.button{
    margin: 2rem;
    background-color:darkblue;
    color: white;
    border: none;
    border-radius: 16px;
    width: 12rem;
    padding: 12px 30px;
    font-size: large;
    font-weight: 400;
    cursor: pointer;
}
.button:hover{
    background-color:#3949AB;
}

.featured-genres.white-box{
    position: relative;
    background-color: white;
    max-width: 100%;
    height: 35rem;
}

.featured-genres h3{
    color: darkblue;
    font-size: 2rem;
    padding: 5rem;
    text-align: center;
}
.genres-container{
    display: flex;
    justify-content: space-evenly;
}
.genres-box{
    width: 22rem ;
    height: 13rem;
    background-color:rgb(246, 243, 243);
    margin: 30px;
    float: left; 
}

.genres-box h4{
    color: darkblue;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
}

.genres-box p{
    padding: 25px;
    text-align: center;
}

.gray-box{
    position: relative;
    background-color:rgb(246, 243, 243);
    max-width: 100%;
    height: 35rem;
}

.gray-box h3{
    color: darkblue;
    font-size: 2rem;
    text-align: center;
    padding: 5rem ;
    padding-bottom: 2rem;
}

.small-box{
    margin: 1rem 30rem;
    width:40rem ;
    height: 20rem;
    background-color: white;
}
.small-box ol li{
    padding: 1rem;
    padding-top: 1.5rem;
    list-style-type:inherit;
}
.small-box ol{
    padding-left: 5rem;
}

footer{
    background-color: rgb(3, 3, 110);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}