@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather","serif","san-serif";
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);   
}
.navigation{
    display: flex;
    width: 40rem;
    justify-content: space-evenly;
}
.navigation a{
    text-decoration: none;
    color: darkblue;
    font-weight: 500;
}   
.navigation a:hover{
    color: #3949AB;
    transform: scale(1.15);
}
.main{
    padding-top: 5rem;
}
.logo{
    font-size: 1.5rem;
    color: darkblue;
}

.blue-box{
    background-image: url("/images/background2.jpg");
    max-width: 100%;
    height: 100vh;
    color: white;
    padding:14rem ;
    text-align: center;
}
.blue-box h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 5rem;
}
.button{
    display: inline-block;
    margin-top: 2rem;
    background-color: darkblue;
    color: white;
    width: 12rem;
    padding: 0.8rem 1.5rem;
    border-radius: 16px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover{
    background-color:#3949AB;
    transform: scale(1.05);
}

.featured-genres.white-box{
    position: relative;
    background-color: white;
    max-width: 100%;
    height: 35rem;
}

.featured-genres h3{
    color: darkblue;
    font-size: 2rem;
    padding: 5rem;
    text-align: center;
}
.genres-container{
    display: flex;
    justify-content: space-evenly;
}
.genres-box{
    width: 22rem ;
    height: 13rem;
    background-color:rgb(246, 243, 243);
    margin: 30px;
    float: left;    
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
    transition: transform 0.5s ease-in-out;
}
.genres-box:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.genres-box h4{
    color: darkblue;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
}

.genres-box p{
    padding: 25px;
    text-align: center;
}

.gray-box{
    position: relative;
    background-color:rgb(246, 243, 243);
    max-width: 100%;
    height: 35rem;
}

.gray-box h3{
    color: darkblue;
    font-size: 2rem;
    text-align: center;
    padding: 5rem ;
    padding-bottom: 2rem;
}

.small-box{
    margin: 1rem 30rem;
    width:40rem ;
    height: 20rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.4);
}
.small-box ol li{
    padding: 1rem;
    padding-top: 1.5rem;
    list-style-type:inherit;
}
.small-box ol{
    padding-left: 5rem;
}

footer{
    background-color: rgb(3, 3, 110);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}